SECRET_KEY=really-secure-secret-here
POSTGRES_DB=user-here
POSTGRES_USER=user-here
POSTGRES_PASSWORD=password-here
RABBITMQ_USER=user-here
RABBITMQ_PASS=password-here
DISCORD_TOKEN=discord-token-here
