.darkMenuItem {
  background-color: #2f2f2f !important;
  /* Cor de fundo escura desejada */
  color: white !important;
  /* Cor do texto */
}

.darkMenuItem:first-child {
  border-top: none;
  /* Remove a borda superior do primeiro item */
}

.darkMenuItem:hover {
  background-color: rgba(255, 255, 255, 0.08);
  /* Cor de fundo do hover */
}